<% provide(:title, "Help") %>
<h1>Help</h1>
<center>
  <p>
    This will be the help page for the application to understand how it functions.
  </p>
  <small>
    I actually don't know how it functions. I just type the code and hope for the best.
  </small>
</center>
