<div class="center jumbotron">
  <center>
    <h1>Widget Confabulators</h1>
    <h2>
      This will be the home page for navigation and log in for the app.
    </h2>
    <%= link_to "Sign Up for your Account", signup_path, class: "btn btn-lg btn-primary" %>
  </center>
</div>
