<% provide(:title, @task.task_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <center>
        <h1>
          <%= @task.task_name %>
        </h1>
      </center>
    </section>
  </aside>
</div>
