<% provide(:title, 'Customers') %>
<h1>Customers</h1>

<center>
  <button type="button" class="btn btn-dark">
    <%= link_to "New Customer", new_customer_path %>
  </button>
</center>

<h2>All Customers</h2>

<ul class="users">
  <% @customer.each do |customer| %>
    <li>
      <%= link_to customer.company, customer %>
    </li>
  <% end %>
</ul>
