<% provide(:title, @project.project_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <center>
        <h1>
          <%= @project.project_name %>
        </h1>
        <h2>
          <%= @project.customer.company %>
        </h2>
      </center>
    </section>
  </aside>
</div>
