<h1>Track Time</h1>
<p>How does any of this even work?</p>

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
<button type="button" class="btn btn-outline-primary">Start Time</button>
<button type="button" class="btn btn-outline-danger">Stop Time</button>
